

@media (max-width:1200px){
    
body{
    margin: 0;
    padding-left: 96px;
    padding-top: 80px;
    padding-right: 24px;
    margin-bottom: 70px;
    font-family: Roboto, Arial;
    background-color: rgb(247, 247, 247);
}

a{
    text-decoration: none;
}


}

@media (min-width:1200.1px){
    
body{
    margin: 0;
    padding-left: 250px;
    padding-top: 80px;
    padding-right: 24px;
    margin-bottom: 70px;
    font-family: Roboto, Arial;
    background-color: rgb(247, 247, 247);
}

a{
    text-decoration: none;
}

}