.main-flex{
    display: flex;
    flex-direction: column;
    margin: 10px 10px 50px 10px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

p{
    font-family: arial;
    margin-left: 15px;
}

.contador{
    font-family: arial;
    font-weight: 700;
    color:white;
    background-color: rgb(64, 107, 235);
    border: 1px solid rgb(64, 107, 235);
    border-radius: 25px;
    padding: 2px 11px 2px 11px;
    margin-right: 10px;
}

.main-flex2{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.profile{
    display:flex;
    flex-direction:row;
    margin-bottom: 12px;
    justify-content:center;
}

.text{
    display:flex;
    flex-direction: column;
    max-width: 600px;
    min-width: 200px;
    margin-left: 10px;
    margin-top: 5px;
}
.image-div{
    height: 45px;
    width: 45px;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
    margin-top: 5px;
}

.cat-name{
    font-size: 12px;
    font-weight: 700;
    margin: 0 0 2px 0;
}

.description{
    font-size: 12px;
    font-weight: 500px;
    color:gray;
    margin: 0 0 2px 0;
}

.status{
    font-size: 9px;
    color:gray ;
    margin: 0 0 0 0;
}

.follow-button{
    color:white;
    background-color: rgb(60, 120, 242);
    border: 1px solid rgb(60, 120, 242);
    border-radius: 2px;
    padding: 3px 10px 3px 10px;
    font-weight: 540;
    font-size: 12px;
    margin-top:15px;
}

.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:50px;
    background-color: rgb(99, 56, 124);
    color: white;
    align-items: center;
}

.download-button{
    border: 1px solid white;
    border-radius: 2px;
    background-color: rgb(99, 56, 124);
    color: white;
    padding: 6px 13px 6px 13px;
    margin-right: 10px;
}

.search-box{
    width: 350px;
    padding: 5px 12px 5px 12px;
    border-radius: 15px;
    border: 1px solid rgb(99, 56, 124);
}

.home{
    font-weight: bold;
}
