.video-title{
    font-family: roboto;
    font-size:18px;
    font-weight: bold;
    text-align: left;
    line-height: 24px;
    width: 280px;
    margin-bottom: 0;
}

.info, .channel, .description{
    margin-top:0;
    font-family: roboto;
    font-size:14px;
    margin-bottom: 20px;
    width: 280px;
    color: rgb(96, 96, 96);
}

.info{
    margin-top: 3px;
}

.description{
    line-height: 20px;
    margin-bottom: 100px;
}

.apple{
    margin-bottom: 50px;
    background-color: rgb(208, 26, 26);
    color: white;
    font-family: arial;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 100px;
}

.shop-text:hover{
    text-decoration: underline;
}

.tahoma-text{
    font-family: tahoma;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 95px;
}

.deals-title{
    font-family:arial;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
}

.deals-text{
    font-family: arial;
    font-style: italic;
    color: rgb(202, 31, 31);
    margin-top:10px;
    margin-bottom: 95px;
}

.html-title{
    font-family:verdana;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom:0;
    font-size: 18px;
}

.html1-text{
    font-family: verdana;
    font-size:16px;
    color: gray;
    margin-top:0;
    padding-top:0;
}

.html2-text{
    font-family: verdana;
    font-size:16px;
    width: 300px;
}

.html-button{
    font-family: verdana;
    font-size:13px;
    background-color: green;
    border-style:solid;
    border-radius: 8px;
    border-color:green;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom:6px;
    color: white;
    margin-top:5px;
    margin-bottom:100px;
    transition: opacity 0.15s;
    cursor: pointer;
}

.html-button:hover{
    opacity: 0.7;
}

.shopping-title{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align:center;
    font-size:22px;
}

.shop-text{
    font-family:Arial, Helvetica, sans-serif;
    text-align:center;
    font-size: 16px;
}

.shop-link{
    color: blue;
    text-align:center;
    font-size: 15px;
    transition: text-decoration 0.15s;
    cursor: pointer;
    text-decoration: none;
    padding-left: 295px;
    font-family:arial;
}

.shop-link:hover{
    text-decoration: underline;
}

.apple-text, .apple-product, .cost, .buy, .phrase-product{
    font-family: arial;
    text-align:center;
}

.apple-text{
    margin-top: 100px;
    color:red;
    font-size: 11px;
    margin-bottom:0;
    padding-bottom:0;
}

.apple-product{
    font-weight:bold;
    font-size:18px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.phrase-product{
    font-size: 30px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
}

.cost{
    font-size: 15px;
}

.buy{
    margin-left: 325px;
    background-color: rgb(33, 112, 230);
    color:white;
    border-color:rgb(33, 112, 230);
    border-style:solid;
    border-radius: 10px;
    cursor:pointer;
    transition:opacity 0.15s;
}

.buy:hover{
    opacity: 0.7;
}

.price, .usd, .details, .hours, .details2{
    font-family: arial;
    padding-top: 0;
    margin-top:5px;
    padding-bottom: 0;
    margin-bottom: 5px;
}

.price{
    font-size: 35px;
    margin-left: 20px;
    margin-top:100px;
 
}

.usd{
    
    font-size: 19px;
    color: gray;
    
}

.details{
    color: green;
    font-size: 17px;
    margin-left: 20px;
}

.hours{
    color: gray;
    font-size: 17px;
    margin-left: 20px;
}

.details2{
    color: red;
    font-size: 17px;
}

.freecodecamp, .at-fcc, .at-fcc2, .fcc-text, .fcc-text2{
    font-family:arial;
}
.freecodecamp{
    font-weight: bold;
    font-size: 20px;
    margin-top:100px;
}

.at-fcc{
    color: gray;
    font-size: 15px;
    font-weight: none;
}

.fcc-text{
    width:500px;
    font-size: 16px;
}

.fcc-text2{
    width:500px;
    font-size: 16px;
}

.at-fcc2{
    color: blue;
    font-size: 16px;
}
